h1{
    text-align: center;
    background-color: #00008b;
    font-family: monospace;
    font-weight: 900;
}

.gallery img{
    width: 70%;
    background-color: #000000;
}

p{
    font-family: cursive;
    color:#0000ff;
}

#menu{
    height: 40px;
    width: 100%;
    font-size: large;
    padding-top: 20px;
    background-color: #b22222;
    padding-left: 20px;
    padding-right: 20px;
}

#menu a{
    color: black;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
}

#menu a:hover{
color: #ff0000;
}

h2{
    color: #ff0000;
}